/* UserDashboard.css */


.dashboard-container {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard-container h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  
  .create-project-button, .delete-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .create-project-button:hover, .delete-button:hover {
    background-color: #0056b3;
  }
  
  /* Style for the project list */
  .project-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .project-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for the project name and description */
  .project-list li span {
    font-size: 16px;
    color: #333;
  }
  